{"filter":false,"title":".gitignore","tooltip":"/music-player/.gitignore","ace":{"folds":[],"scrolltop":4635.74991760254,"scrollleft":0,"selection":{"start":{"row":327,"column":0},"end":{"row":327,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":130,"state":"start","mode":"ace/mode/ini"}},"hash":"b13e7aef1696661901672a86664684e48f0aac86","mime":"application/octet-stream","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":329,"column":0},"end":{"row":329,"column":1},"action":"remove","lines":["."],"id":2}],[{"start":{"row":329,"column":0},"end":{"row":329,"column":1},"action":"insert","lines":["/"],"id":3}],[{"start":{"row":329,"column":0},"end":{"row":329,"column":1},"action":"remove","lines":["/"],"id":4}],[{"start":{"row":329,"column":3},"end":{"row":329,"column":4},"action":"insert","lines":["/"],"id":5}]]},"timestamp":1682544563357}