{"filter":false,"title":"requirements_1.txt","tooltip":"/music-player/requirements_1.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1682531011293,"hash":"52acedec0c60b8bccfc8a13325ac7f3c53b4a7d6"}